<div class="col-md-3 col-md-offset-1">
    <div class="panel">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="panel-title"><h4>Admin Panel</h4></div>
            </li>
            <li class="list-group-item"><a href="" ng-click="isShowAdminPostSectioin=true;">Posts</a></li>
            <li class="list-group-item"><a href="">Settings</a></li>
            <li class="list-group-item"><a href="/login">Login</a></li>
        </ul>
    </div>
</div>