<title><%= title %></title>
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
<link rel='stylesheet' href='stylesheets/style.css'/>