<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
<link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/public/stylesheets/font-awesome.min.css">
<link rel='stylesheet' href='/public/stylesheets/style.css'/>
