<nav class="panel-default col-md-3 col-md-offset-9">
    <a class="navbar-brand" href="/">Home</a>
    <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>
</nav>
<span class="clearfix"></span>