<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <% include ./partials/head.ejs %>
</head>
<body ng-controller="homeController as homeCtrl" ng-cloak>
<div class="container">
    <% include ./partials/nav.ejs %>
    <!--------------------------- Contents ------------------------------>
    <div class="row">
        <!----------------------- Left ----------------------->
        <div class="col-md-8">
            <div>
                <div class="panel panel-default" ng-repeat="post in posts">
                    <div class="panel-body">
                        <a href="/p/{{post._id}}"><h3>{{post.title}}</h3></a>
                        <span class="">
                            <i class="fa fa-clock-o"></i><abbr class="published"> {{post.created}}</abbr>
                        </span>
                        <hr>
                        <div>
                            <p>{{post.contents}}</p>
                        </div>
                        <a href="#">Read More...</a>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <% include ./partials/home-rightbar.ejs %>
    </div>
</div>

<% include ./partials/js-file.ejs %>
</body>
<% include ./partials/footer.ejs %>
</html>
