<!DOCTYPE html>
<html ng-app="myApp">
<head><% include ./partials/head.ejs %></head>
<body ng-controller="adminSettingsController as adminSettingsCtrl" ng-cloak>
<div class="container">
    <% include ./partials/nav.ejs %>
    <!--------------------------- Contents ------------------------------>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default panel-body">
                <form>

                </form>

            </div>
        </div>
        <!----------------------- Right Bar ----------------------->
        <% include ./partials/admin-rightbar.ejs %>
    </div>
</div>


<% include ./partials/js-file.ejs %>
</body>
<% include ./partials/footer.ejs %>
</html>
