<div class="col-md-9" ng-init="getAllLogs()">
    <div class="panel panel-default panel-body">
        <h2 class="form-signin-heading text-center">Overview</h2>
        <hr>
        <hr>
        <h2 class="text-center">Logs</h2>
        <table class="table">
            <tr>
                <th>Info</th>
                <th>Trigger</th>
                <th>Date</th>
            </tr>
            <tr ng-repeat="log in logs">
                <td>{{log.info}}</td>
                <td>{{log.trigger}}</td>
                <td>{{log.created}}</td>
            </tr>
        </table>
        <hr>
        <button ng-click="clearAllLogs()" class="btn btn-default">Clear</button>
    </div>
</div>
